img{
    float: left;
    width: 600px;
    margin-right: 10px;
}
p{
    width:500px;
    float: left;
    margin-top: 50px;
    text-indent: 40px;
    font-size: 140%;
    font-family: 'Roboto Slab', serif;
}



h1{
    color: #4DA91C ;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin-top: 2rem;
}


#header .header_menu {
    min-height: 80px;
    border-bottom: 1px solid #3D3E3D;
    z-index: 9999

}
#header .header_menu .navbar {
    border: 0px solid transparent;

}
#header .header_menu .custom_navbar-brand {
    padding-left: 0;
}
#header .header_menu .navbar-default {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
#header .header_menu .navbar-default .navbar-nav>.active>a,
#header .header_menu .navbar-default .navbar-nav>.active>a:focus,
#header .header_menu .navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(255, 255, 255, 0);
}
#header .header_menu .main_menu {
    padding-top: 20px;
}
#header .header_menu ul.main_menu li a {
    color: white;
    font-size: 16px;
    
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}
#header .header_menu ul.main_menu li a:hover {
    color: #4DA91C;
}
#header .header_menu ul.main_menu li.active a {
    color: #4DA91C;
}
#header .header_menu ul.main_menu li,
#header .header_menu ul.main_menu li.active a {
    display: inline-block;
    position: relative;
}
#header .header_menu ul.main_menu li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    margin-top: 6px;
}
#header .header_menu ul.main_menu li:hover:after,
#header .header_menu ul.main_menu li.active:after {
    width: 90%;
    background: #4DA91C;
}

#header{
    background-image: url(Resources/assets/images/cliemate.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

