h2{
    text-align: center;
    color:gray;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}
h1{
    color: #4DA91C ;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 5rem;




}
img{
    float: left;
    width: 600px;
    margin-right: 10px;
}
p{
    width:400px;
    float: left;
    margin-top: 50px;
    text-indent: 40px;
    font-size: 140%;
    font-family: 'Roboto Slab', serif;
}

